* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #171717;
    color: #fff;
    font-family: 'Roboto', Arial, sans-serif;
  }
  
  header {
    background-color: #111111;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    height: 80px;
  }
  
  header h1 {
    color: #fff;
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    float: left;
    line-height: 40px;
  }

  .page-header {
    text-align: center;
    margin: 40px auto;
  }
  
  .page-header h1 {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
  }
  
  nav {
    float: right;
    height: 80px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    float: left;
    margin-left: 20px;
    position: relative;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
  }
  
  nav ul li:hover > ul {
    display: block;
  }
  
  nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #111111;
    padding: 0;
    margin-top: 0px;
  }
  
  nav ul ul li {
    float: none;
    width: 200px;
    position: relative;
  }
  
  nav ul ul li a {
    padding: 10px;
    display: block;
    color: #fff;
  }
  
  nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
  }
  
/* Стили для блока с информацией об художнице */
.artist-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .artist-avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .artist-avatar img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .artist-name {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  .verified-badge {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    fill: blue;
  }
  
  .artist-profession {
    font-size: 16px;
    color: #555;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .artist-description {
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  .social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-buttons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
  }
  
  .social-buttons a:hover {
    background-color: #444;
    transform: scale(1.2);
  }
  
  .social-buttons a i {
    font-size: 24px;
  }
  
  
  
  
  .my-works {
    text-align: center;
    padding: 35px;
  }
  
  .works-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .work-item {
    display: block;
    position: relative;
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
  }
  
  .work-item:hover {
    transform: scale(1.05);
  }
  
  .work-item img {
    width: 100%;
    height: auto;
  }
  
  .work-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    transition: transform 0.2s ease-in-out;
  }
  
  .work-item:hover .work-caption {
    opacity: 1;
  }
  
  .fading-hr {
    border: none;
    height: 1px;
    background-image: linear-gradient(to right, transparent, #ddd, transparent);
  }
  
  .centered-text {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  
  .centered-text p {
    font-size: 20px;
    line-height: 1.5;
  }
  
  .grid {
    display: grid;
    grid-gap: 10px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 5px;
  }
  
  .grid.template-1 {
    grid-template: "sidebar a" "sidebar b";
  }
  
  .grid.template-1 > :nth-child(1) {
    grid-area: sidebar;
  }
  .grid.template-2 {
    grid-template: "a sidebar" "b sidebar";
    margin-bottom: 30px;
  }
  
  .grid.template-2 > :nth-child(1) {
    grid-area: sidebar;
  }
  
  .col {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .col img:hover {
    transform: scale(1.02);
    transition: transform 0.8s ease;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .icons img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    filter: invert(100%);
  }
  
  footer {
    background-color: #111111;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left {
    flex: 1;
  }
  
  .center {
    flex: 2;
    display: flex;
    justify-content: center;
  }
  
  .center a {
    margin: 0 10px;
    color: #ffffff;
  }
  
  .right {
    flex: 1;
    text-align: right;
  }
  
  .right button {
    background-color: #ffffff;
    color: #111111;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
/* конец основного кода страницы */

.gallery {
  width: 500px;
  margin: 0 auto;
  position: relative;
  padding: 40px 0;
}
.gallery-images {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.gallery-images img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery-images img.active {
  opacity: 1;
}
.gallery-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
}
.gallery-button-prev {
  left: 0;
}
.gallery-button-next {
  right: 0;
}


